
<header>
    <div class="px-3 py-2 text-bg-danger mb-4">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/admin/hotels" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none btn btn-outline-warning">
            Gr8stay - Admin Dashboard
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="/admin/hotels" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
                Hotels
              </a>
            </li>
            <li>
              <a href="/admin/profile" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
                Admin
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</header>