<%- include('partials/head'); -%>
<%- include('partials/admin-nav'); -%>

<section class="container-fluid my-5 pt-5 pb-lg-4 px-xxl-4">
    <div class="row">
        <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="d-sm-flex align-items-center justify-content-between pb-3 pb-sm-4">
        <h3>
            <a class="btn btn-secondary" href="/admin/profile">Back</a>
        </h3>
      </div>
        <form action="/admin/addHotel" method="post" class="needs-validation" novalidate="">
            
              <div class="col-12 my-3">
                <label for="name" class="form-label">Hotel name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="" value="" required="">
                <div class="invalid-feedback">
                  Hotel name is required.
                </div>
              </div>
    
              <div class="col-12 my-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="" value="" required="">
                <div class="invalid-feedback">
                  Address is required.
                </div>
              </div>

              <div class="col-12 my-3">
                <label for="imgUrl" class="form-label">Image URL</label>
                <input type="text" class="form-control" id="imgUrl" name="imgUrl" placeholder="" value="" required="">
                <div class="invalid-feedback">
                  Image URL is required.
                </div>
              </div>
    
            <button class="w-100 btn btn-primary btn-lg" type="submit">Add Hotel</button>
          </form>
    </div>
    </div>
    
    <div class="col-md-3"></div>
</section>

<%- include('partials/foot'); -%>