<%- include('partials/head'); -%>
<%- include('partials/nav'); -%>


<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://finder-react.createx.studio/_next/image?url=%2Fimages%2Freal-estate%2Fhero-image.jpg&w=3840&q=75" class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Easy way to find a perfect property</h1>
        <p class="lead">We provide a complete service for the reservation of hotels. We have been operating more than 10 years. Search millions of hotels on Gr8stay.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/hotels" class="btn btn-outline-danger btn-lg px-4 me-md-2">Book Now</a>
        </div>
      </div>
    </div>
</div>

<%- include('partials/foot'); -%>